<h1>Create Account</h1>

<%= form_for(@account) do |f| %>
  <div>
    <%= f.label :name %>
  </div>
  <div>
    <%= f.text_field :name %>
  </div>

  <div>
    <%= f.submit "Create", notice: 'Create Account Successfully' %>
  </div>
<% end %>
